.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 75%;
    /* Space between links */
    line-height: 1.8em;
    

  }
  
  .navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 150px;
    padding-left: 1rem;
    font-family: PT-Serif;

  }
  
  .navbar-fixed-left + .container {
    padding-left: 160px;
  }



  .main {
    margin-left: 160px; /* Same as the width of the sidenav */

    padding: 0px 10px;
  }

  
.col #resumeName {
  text-align: center;
}

  /**Github and linkedin links */
 .col #resumeLinks {

  display: inline-block;
  overflow: hidden;
  font-size: 12px;
  }

  /**Phone number and email*/
  .col #contactText {

    padding-left: 5em;

  }

  /** Skills header */
  .col #skillsHeader {
    font-size: 18px;
  }

  /**Line */
  .col hr {
    border: 1px solid black;
  }

  /**Skills header*/
  .col #skillsHeader {

text-align: left;
  }

  .col #employmentHeader, #educationHeader {
    font-size: 18px;
  }

  .col #employmentLocation1,#employmentLocation2 {
    font-size: 10px;
    text-align: center;
    margin-bottom: 3em; 
  }

  .col #collegeDate1, #collegeDate2 {
    font-size: 10px;
    text-align: center;
  }

  .col #collegeLocation1, #collegeLocation2 {
    font-size: 10px;
    text-align: center;



  }

  .col #employmentName1, #collegeName1, #collegeName2 {
    text-align: center;
    margin-bottom: 1px;

  }

  .col #employment1tasks, #employment1tasks1{
    font-size: 12px;
    line-height: 1.5em;

  }

  .col #employment1tasks1 {
    margin-top: -2em;


  }

  #collegeDesc1, #collegeDesc2 {

    font-size: 12px;
    line-height: 1.5em;
  }




  /* Image above navbar */
  .navbar img {

    width: 166px;

    padding-left: 1rem;
  }

  #header {
    padding-top: 2.5rem;

  }

  .row p {
    font-family: PT-Serif;

  }


  /** Text for about me */
  .col .aboutMe {
    padding-top: 2.5rem;
    line-height: 2rem;
  }

  /** Footer styling, links */
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    word-spacing: 1rem;
  }