/**
   Title: haefner-restaurant.css
   Author: Alex Haefner
   Date: 3-30-2021
   Description: Styling for haefner-restaurant.html
  */

.card-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 3% auto 0;
  width: 260px;
  display: inline;
}