/** 
   Title: calorie.css
   Author: Alex Haefner
   Date: 4-8-2021
   Description: Styling for haefner-calorie.html

*/

/* Styling for the food list div. */
#foodlist {

    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;

}