
/* Selects individual project cards */
#projects-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-right: 10px;
    grid-gap: 20px;
    
}

/* Selects the entire element */
#projects.col {

margin-right: 10rem;
width: 40px;
}


