
/* Selects individual project cards */
#projects-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-right: 10px;
    grid-gap: 10px;
    
}

/* Selects the entire element */
#projects.col {

margin-right: 10rem;

}

/* Adjusting width/positioning of entire element */
.assign-content {
    width: 195%;
    padding-right: 30em;

}
